CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/overview
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/overview
TRIGGER_SECRET_KEY=xxx
GITHUB_APP_PRIVATE_KEY=XXX
DEEPSEEK_API_KEY=xxx
GITHUB_TOKEN=xxx
